body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  height: 100vh;
  width: 100vh;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  gap: 0;
  border: solid red 1px;
}

.tile:hover {
  background-color: gray;
}